FORMAT: 1A
HOST: http://polls.neverbet.kz/

# NeverBet

Документация по API 

## Список матчей [/games/{?date}]

+ turnir:  (Turnir)
    + id: 21 (number) - ID турнира.
    + name: Примера (string) - название турнира
    + country: ES (string) - страна турнира
+ games:
    + id: 11 (number) - ID матча.
    + time: 2016.02.05 20:00:00 (date) - время проведения матча в формате YY.mm.dd H:m:s (? timezone UTC).
    + status: wait (string) - wait, live, cancel, fin
    + info:
        + score: 3-2 (string) - счет матча
        + part: 2 (number) - тайм
        + minute: 86 (number) - минута матча
    + home: (Team) - первая команда
        + id: 22 (number) - ID команды.
        + name: Барселона (string) - название команды на русском.
        + logo: //img.neverbet.kz/barcelona.png (string) -  ссылка на лого команды.
        + country: ES (string len=2) - IATA код страны команды.
        + cards - карточки
            + yellow: 2 (number) - желтые карты
            + red: 0 (number) - красные карты
        + corners: 2  (number) - угловые
    + guest: (Team) - вторая команда
        + id: 21 (number) - ID команды.
        + name: Рома (string) - название команды на русском.
        + logo: //img.neverbet.kz/roma.png (string) -  ссылка на лого команды.
        + country: IT (string len=2) - IATA код страны команды.
        + cards - карточки
            + yellow: 2 (number) - желтые карты
            + red: 0 (number) - красные карты
        + corners: 2  (number) - угловые

### Список матчей [GET]
+ Parameters
    + date: 2016.04.15 (optional, string) - ID команды integer
+ Response 200 (application/json)

        [
            {
                "turnir": {
                    "id": 1,
                    "name": "Примера",
                    "country": "ES"
                },
                "games":[
                    {
                        "id": 11,
                        "time": "2016.02.05 20:00:00",
                        "status" : "live",
                        "info":{
                            "score": "3-0",
                            "part": 2,
                            "minute": 86
                        },
                        "home":{
                            "id": 22,
                            "name": "Барселона",
                            "country": "ES",
                            "cards":{
                                "yellow":2,
                                "red":0
                            },
                            "corners": 2
                        },
                        "guest": {
                            "id":21,
                            "name": "Рома",
                            "country": "ES",
                            "cards":{
                                "yellow":4,
                                "red":1
                            },
                            "corners": 12
                        }
                    }
                ]
            }   
        ]

## Матч [/game/{id}]

+ turnir: 
    + id: 21 (number) - ID турнира.
    + name: Примера (string) - название турнира
    + country: ES (string) - страна турнира
+ games:
    + id: 11 (number) - ID матча.
    + time: 2016.02.05 20:00:00 (date) - время проведения матча в формате YY.mm.dd H:m:s (? timezone UTC).
    + status: wait (string) - wait, live, cancel, fin
    + info:
        + score: 3-2 (string) - счет матча
        + part: 2 (number) - тайм
        + minute: 86 (number) - минута матча
        + place: Сюьдад де Валенсия (string) - стадион
        + judges: (Array) - судьи  матча
    + home: (Team) - первая команда
        + id: 22 (number) - ID команды.
        + name: Барселона (string) - название команды на русском.
        + logo: //img.neverbet.kz/barcelona.png (string) -  ссылка на лого команды.
        + country: ES (string len=2) - IATA код страны команды.
        + cards - карточки
            + yellow: 2 (number) - желтые карты
            + red: 0 (number) - красные карты
        + corners: 2  (number) - угловые
    + guest: (Team) - вторая команда
        + id: 21 (number) - ID команды.
        + name: Рома (string) - название команды на русском.
        + logo: //img.neverbet.kz/roma.png (string) -  ссылка на лого команды.
        + country: IT (string len=2) - IATA код страны команды.
        + cards - карточки
            + yellow: 2 (number) - желтые карты
            + red: 0 (number) - красные карты
        + corners: 2  (number) - угловые
    + odds - ставки
    + bets - статистика ставок
        + gamers: (Array) - мнение игроков
        + books: (Array) - мнение биукмеккров
        + stats: (Array) - мнение по статистике
    + text: (Array) - текстовая трансляция - [минута, номер команды, событие, игрок]. События: SW-замена, YC-желтая карта, RC-красная карта, CR- угловой, GL-гол, PT-пенналти, AG-автогол,DN - удаление
    + feeds: (Array)
        + author: (User)
            + id: 123 (number) - ID автора
            + name: Костян Филатов (string) - ФИО автора
            + logo: //img.neverbet.kz/user/123 (string) -
            + rate: 33 (number) - рейтинг пользователя
        + rate: 3 (number) - оценка
        + comments: 12 (number) - кол-во комментов

### Описание матча [GET]
+ Parameters
    + id: 11 (required, integer) - ID матча 
+ Response 200 (application/json)

        {
            "id": 11,
            "time": "2016.02.05 20:00:00",
            "status" : "live",
            "turnir": {
                "id": 1,
                "name": "Примера",
                "country": "ES"
            },
            "info":{
                "score": "3:2",
                "part": 2,
                "minute": 86,
                "place": "Сюьдад де Валенсия",
                "judges":[
                    "Карлос Веласко Карбальо"
                ]
            },
            "home":{
                "id": 22,
                "name": "Барселона",
                "country": "ES",
                "cards":{
                    "yellow":2,
                    "red":0
                },
                "corners": 2
            },
            "guest": {
                "id":21,
                "name": "Рома",
                "country": "ES",
                "cards":{
                    "yellow":4,
                    "red":1
                },
                "corners": 12
            },
            "odds":{
                "P1": 1.2,
                "X": 2.2,
                "P2": 2.0,
                "TOTAL": {
                    "2.5":[1.2,3.2]
                }
            },
            "bets":{
                "gamers":[
                    [75,"Барселона выиграет"],
                    [15,"Рома выиграет"],
                    [12,"Ничья"]
                ],
                "books":[
                    [75,"Победа первой"],
                    [55,"Тотал > 2.5"],
                    [23,"Ничья"]
                ],
                "stats":[
                    [75,"Барселона выиграет"],
                    [55,"Рома выиграет"],
                    [23,"Ничья"]
                ]
            },
            "text":[
                [79,2,"SW","Набиль Эль-Жар","Давид Симон"],
                [76,2,"SW","Серхио Араухо","Тана Домингес"],
                [75,1,"SW","Джузеппе Росси","Жорди Шуметра"],
                [74,1,"YC","Жорди Шуметра"],
                [66,2,"GL","Виллиан Жозе"]
            ],
            "feeds":[
                {
                    "author":{
                        "id": 123,
                        "name": "Костян Филатов",
                        "logo": "//img.neverbet.kz/user/123",
                        "rate": 33
                    },
                    "msg":"Русский форвард #Вашингтона оформил 14-й хет-трик за карьеру в НХЛ"
                    "rate": 3,
                    "comments":12
                }
            ]
        }   

## Текстовая трансляция матча [/game/{game_id}/text]

+ (number) - минута.
+ (number) - номер команды
+ (string) - тип события.
+ (string) - имя игрока.

### Трансляция матча [GET]
+ Parameters
    + game_id: 12 (required, number) - ID команды integer

+ Response 200 (application/json)

        [
            [79,2,"SW","Набиль Эль-Жар","Давид Симон"],
            [76,2,"SW","Серхио Араухо","Тана Домингес"],
            [75,1,"SW","Джузеппе Росси","Жорди Шуметра"],
            [74,1,"YC","Жорди Шуметра"],
            [66,2,"GL","Виллиан Жозе"]
        ]

## Статистика матча [/game/{game_id}/stats]

+ (number) - минута.
+ (number) - номер команды
+ (string) - тип события.
+ (string) - имя игрока.

### Статистика [GET]
+ Parameters
    + game_id: 12 (required, number) - ID команды integer

+ Response 200 (application/json)

        {
            "main":{
                "Матчей":[40,40],
                "Забитых мячей":[25,33],
                "Удары / в створ":["51/15","20/8"],
                "Угловые":[22,12]
            },
            "groups":[
                {
                    "name": "Послдение игры Леванте",
                    "type": "tab",
                    "tabs":[
                        {
                            "name":"В сезоне",
                            "rows":[
                                ["2016.01.05","Вестерн Сити","1:0","Леванте"],
                                ["2016.02.07","Леванте","3:2","Арсенал"],
                                ["2016.03.15","Арсенал","2:0","Леванте"],
                                ["2016.04.23","Вестерн Сити","3:1","Леванте"]
                            ]
                        },
                        {
                            "name":"В турнире",
                            "rows":[
                                ["2016.01.05","Вестерн Сити","1:0","Леванте"],
                                ["2016.02.07","Леванте","3:2","Арсенал"],
                                ["2016.03.15","Арсенал","2:0","Леванте"],
                                ["2016.04.23","Вестерн Сити","3:1","Леванте"]
                            ]
                        }
                    ]
                },
                {
                    "name": "Турнирная таблица",
                    "type": "table",
                    "table":[
                        ["ES","Вестерн Сити",16,9,3,4,16,9,30],
                        ["ES","Леванте",16,9,3,4,16,9,28],
                        ["ES","Арсенал",16,9,3,4,16,9,27],
                        ["ES","Вестерн Сити",16,9,3,4,16,9,20],
                        ["ES","Арсенал",16,9,3,4,16,9,19],
                        ["ES","Леванте Сити",16,9,3,4,16,9,6]
                    ]
                },
            ]
        }
        

## Составы матча [/game/{game_id}/list]

+ coach - главный тренер.
    + home: (string) - тренер домашней команды
    + guest: (string) - тренер гостевой команды
+ in - Стартовые составы
    + home:(Array) - домашней команды - [ номер игрока, имя игрока, позиция]
    + guest:(Array) - гостевой команды - [ номер игрока, имя игрока, позиция]
+ substitution - Замены
    + home:(Array) - домашней команды - [ номер игрока, имя игрока, позиция]
    + guest:(Array) - гостевой команды - [ номер игрока, имя игрока, позиция]
+ injury - Травмированы / Точно не сыграют
    + home:(Array) - домашней команды - [ номер игрока, имя игрока, позиция]
    + guest:(Array) - гостевой команды - [ номер игрока, имя игрока, позиция]
    

Значение позиции игроков:
C - Capitane ( капитан )
GK  - Goalkeeper ( вратарь )  
SW  - Free Defender ( свободный защитник ) 
RB  - Right Defender ( правый защитник ) 
LB  - Left Defender ( левый защитник ) 
CB  - Central Defender ( центр защитник ) 
RWB  - Right Attacking Defender ( правый атакующий защитник ) 
LWB  - Left Attacking Defender ( левый атакующий защитник ) 
CDM  - Central Defensive Midfielder ( опорный/оборонительный полузащитник ) 
RM  - Right Midfielder ( правый полузащитник ) 
CM  - Central Midfielder ( центральный полузащитник ) 
LM  - Left Midfielder   ( левый полузащитник ) 
RWM  - Right Side Midfielder ( правый атакующий полузащитник ) 
LWM  -   Left Side Midfielder ( левый атакующий полузащитник ) 
CAM  - Central Attacking Midfielder ( центральный атакующий полузащитник ) 
RF  - Right Forward ( правый отянутый форвард ) 
CF  - Central Forward ( центральный отянутый форвард ) 
LF  - Left Forward ( левый отянутый форвард ) 
RS  - Right Striker ( правый конечный форвард ) 
LS  - Left Striker ( левый конечный форвард )
ST  - Striker ( центр форвард )

### Состав [GET]
+ Parameters
    + game_id: 12 (required, number) - ID команды integer

+ Response 200 (application/json)

        {
            "coach":{
                "home":"Джузеппе Росси",
                "guest":"Серхио Араухо"
            },
            "in":{
                "home":[
                    [5,"Набиль Эль-Жар","C"],
                    [6:"Давид Симон","GK"],
                    [7:"Серхио Араухо","LB"],
                    [8:"Джузеппе Росси","LWM"],
                    [10:"Жорди Шуметра","RS"],
                    [2:"Виллиан Жозе","ST"]
                ],
                "guest":[
                    [5,"Набиль Эль-Жар","C"],
                    [6:"Давид Симон","GK"],
                    [7:"Серхио Араухо","CAM"],
                    [8:"Джузеппе Росси","CDM"],
                    [10:"Жорди Шуметра","CF"],
                    [2:"Виллиан Жозе","LS"]
                ]
            },
            "substitution":{
                "home":[
                    [5,"Набиль Эль-Жар","C"],
                    [6:"Давид Симон","GK"],
                    [7:"Серхио Араухо","ST"],
                    [8:"Джузеппе Росси","D"],
                    [10:"Жорди Шуметра","P"],
                    [2:"Виллиан Жозе","W"]
                ],
                "guest":[
                    [5,"Набиль Эль-Жар","CAM"],
                    [6:"Давид Симон","GK"],
                    [7:"Серхио Араухо","ST"],
                    [8:"Джузеппе Росси","D"],
                    [10:"Жорди Шуметра","GK"],
                    [2:"Виллиан Жозе","W"]
                ]
            },
            "injury":{
                "home":[
                    [5,"Набиль Эль-Жар","C"],
                    [6:"Давид Симон","GK"]
                ],
                "guest":[
                    [5,"Набиль Эль-Жар","C"]
                ]
            }
        }

## Ставки на матч [/game/{game_id}/odds]

+ P1: (Array) - Победа 1-ой команды - [ [ID букмекера, коэффициент букмекера] ].
+ Х: (Array) - Ничья - [ [ID букмекера, коэффициент букмекера] ]
+ Р2:  (Array) - Победа 2-ой команды - [ [ID букмекера, коэффициент букмекера] ]
+ 1Х: Победа 1-ой команды или ничья - [ [ID букмекера, коэффициент букмекера] ].
+ groups (Array) - группы ставок
    + name: Точный счет (string) - название группы
    ... остальные атрибуты строки в группе. Название атрибута - название строки, значение массив из  [ID букмекера, коэффициент букмекера] 
    Тотал больше/меньше = [ массив больше , массив меньше ]
+ books -  букмекеры
    + id: 12 (number) - ID букмекера 
    + name: FairPlay (string) - Имя букмекера
    + logo: //img.neverbet.kz/img.neverbet.kz/books/FairPlay.png (string) - ссылка на лого букмекера.

### Ставки на матч [GET]
+ Parameters
    + game_id: 12 (required, number) - ID команды integer

+ Response 200 (application/json)

        {
            "P1": [[1,1.0],[2,1.1]],
            "X": [[1,1.0],[2,1.1]],
            "P2": [[1,1.0],[2,1.1]],
            "1X": [[1,1.0],[2,1.1]],
            "X2": [[1,1.0],[2,1.1]],
            "12": [[1,1.0],[2,1.1]],
            "groups":[
                {
                    "name": "Точный счет",
                    "1:0":[[1,2.1],[2,2.2],[3,1.8]],
                    "1:1":[[1,2.1],[2,1.6],[3,2.0]],
                    "2:0":[[1,2.1],[2,2.1]],
                    "1:2":[[1,2.1],[2,1.2]]
                },
                {
                    "name":"Больше/Меньше",
                    "0.5":[[[[1,1.0],[2,1.1]]],[[[1,1.0],[2,1.1]]]],
                    "1":[[[[1,1.0],[2,1.1]]],[[[1,1.0],[2,1.1]]]],
                    "1.5":[[[[1,1.0],[2,1.1]]],[[[1,1.0],[2,1.1]]]],
                },
                {
                    "name":"Тотал матча",
                    "Чет":[[[[1,1.0],[2,1.1]]],[[[1,1.0],[2,1.1]]]],
                    "Нечет":[[[[1,1.0],[2,1.1]]],[[[1,1.0],[2,1.1]]]]
                }
            ],
            "books":[
                {
                    "id":1,
                    "name":"Olimp",
                    "logo":"//img.neverbet.kz/books/Olimp.png"
                },
                {
                    "id":2,
                    "name":"LEON",
                    "logo":"//img.neverbet.kz/books/leon.png"
                },
                {
                    "id":3,
                    "name":"FairPlay",
                    "logo":"//img.neverbet.kz/books/FairPlay.png"
                }
            ]
        }

## Команда [/team/{team_id}]

+ id: 12 (number) - ID команды.
+ name: Барселона (string) - название команды на русском.
+ translit: barcelona (string) - транслит команды для URL.
+ country: ES (string len=2) - IATA код страны команды.
+ logo: //img.neverbet.kz/barcelona.png (string) - ссылка на лого команды.

### Описание команды [GET]
+ Parameters
    + team_id: 12 (required, number) - ID команды integer

+ Response 200 (application/json)

        [
            {
                "id" : 12,
                "name": "Барселона",
                "translit": "barselona",
                "country": "ES",
                "logo": "//img.neverbet.kz/barcelona.png",
            }   
        ]